<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

{% include head.html %}


<body>
    {% include header_blog.html %}

    <h2 style="padding-top:100px" class="title text-center"><a href="/blog">zmNinja blog</a></h2>


    <div class="container">



        <div class="row">


            <div class="col-md-8">

                <section id="blog" class="blog">
                    <div class="blog-inner">

                        <h3 class="title text-left">{{ page.title }}</h3>
                        <div class="text-left">
                            <span class="date"><b>{{ page.date | date: "%-d %B %Y" }}</b></span>
                        </div>
                        <br/>

                        <div class="text-left">
                            {{ content }}
                        </div>
                    </div>
                </section>
                {% include comments.html %}

            </div>


            <div class="col-md-4">
                <h4>Archives</h4>


                <ul>
                    {% for post in site.posts %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%d %B %Y" }}
                    </li>
                    {% endfor %}
                </ul>


            </div>


        </div>
    </div>


    {% include footer.html %}

</body>

</html>
