    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is zmNinja?</h2>
            <p class="intro text-center">zmNinja is an awesome home security app that works along with <a href="http://www.zoneminder.com">ZoneMinder</a>.Various <a href="https://xkcd.com/1295/" target="_blank">studies</a> have shown its approximately 73% better than warm butter on toast. zmNinja is not backed by a big corporation. It's just one dude, doing things at 2AM in the morning and then at 10PM at night. That's probably why it rocks</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed with love</h3>
                        <p>zmNinja has a beautifully fluid UI, designed with love. It's a big improvement over using the ZoneMinder console on your phone. Try it and I hope you'll agree</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Awesome features</h3>
                        <p>zmNinja has awesome features like a fluid montage, event montage and quick scrub just to name a few. Best of all, I'm dog-fooding my app every day and night so I keep adding cool stuff.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Multi-OS</h3>
                        <p>zmNinja works on Android as well as iOS. Well, don't just stop there. It also works on Linux, Windows and Mac desktops. And by 'works' I mean 'works gorgeously'.</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Mobile-first</h3>
                        <p>zmNinja is a mobile first app. It uses the powerful ionic framework as a base and offers native like performance. Folks who have been trying to use ZoneMinder on their mobile phones without my app have had manic bouts of ecstacy after discover zmNinja</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Source for you</h3>
                        <p>Don't like something? <a href="https://github.com/pliablepixels/zmNinja">Hack it</a> and contribute back. Nothing like having source, eh?</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Can't live without ZoneMinder</h3>
                        <p>zmNinja and ZoneMinder are best buddies. Actually more than best buddies. zmNinja needs ZoneMinder to work. And ZoneMinder needs zmNinja to be awesome. Heh!</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
