    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                <p class="intro  text-center">I'd love to hear from you on how you are using zmNinja and if you have suggestions for improvements. <br />Feel free to get in touch if you have any questions or suggestions.</p>
                <div class="author-message">                      
                    <div class="profile">
                      <img class="img-responsive" src="/public/images/profile.png" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">How to help shape the future of zmNinja</h3>
			<p>zmNinja has an active community on github. Please feel free to post suggestions using the github issue tracker for zmNinja <a href="https://github.com/pliablepixels/zmNinja/issues">here</a>
			<p>If you have general questions and not really issues or enhancements, feel free to post your questions on the ZoneMinder <a href="https://forums.zoneminder.com/viewforum.php?f=33">mobile forum</a> or reach out to me via ZoneMinder's <a href="https://zoneminder-chat.herokuapp.com/">slack channel</a></p>
                            <div class="source">
                            <span class="name">Pliable Pixels</span>
                            <br />
                        </div><!--//source-->
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://github.com/pliablepixels" target="_blank"><i class="fa fa-github"></i></a></li>
			<li><a href="https://zoneminder-chat.herokuapp.com/" target="_blank"><i class="fa fa-slack"></i></a></li>
                        <li><a href="http://webchat.freenode.net/?channels=zoneminder" target="_blank"><i class="fa fa-comment"></i></a></li>
                        <li><a href="http://twitter.com/pliablepixels" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li class="last"><a href="mailto: pliablepixels+zmNinja@gmail.com"><i class="fa fa-envelope"></i></a></li>              
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
