<!-- ******FEATURES****** -->
<section id="features" class="features section">


    <h2 class="title">Features</h2>
    <ul class="feature-list list-unstyled">
        <li><i class="fa fa-check"></i> Multiple ZM server support</li>
        <li><i class="fa fa-check"></i> Live View, Event View</li>
        <li><i class="fa fa-check"></i> PTZ support</li>
        <li><i class="fa fa-check"></i> Awesome quick scrub mode for events</li>
        <li><i class="fa fa-check"></i> Push Notifications! (needs <a href="https://github.com/pliablepixels/zmeventserver" target="_blank">event server</a>)</li>
        <li><i class="fa fa-check"></i> Timeline view</li>
        <li><i class="fa fa-check"></i> View past events in a montage - think connected events!</li>
        <li><i class="fa fa-check"></i> Quick pullup sheet on events</li>
        <li><i class="fa fa-check"></i> Fully responsive for tablets and phones</li>
        <li><i class="fa fa-check"></i> Native like performance, built using <a href="http://ionicframework.com">ionic</a></li>
    </ul>
    

</section>
<!--//features-->
