    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a data-scroll  href="#promo">
                    <span class="logo-title"><i class="fa fa-home"></i></span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a data-scroll href="/index.html#promo">Home</a></li>
                        <li class="nav-item"><a data-scroll href="/index.html#about">About</a></li>
                        
                        <li class="nav-item"><a  href="https://medium.com/zmninja">Blog</a></li>
                        
                        <li class="nav-item"><a data-scroll  href="{{site.url}}/index.html#demo">Demo</a></li>
                        <li class="nav-item"><a data-scroll  href="/index.html#features">Features</a></li>
                        <li class="nav-item"><a data-scroll  href="/index.html#license">License/Donate</a></li>                        
                        <li class="nav-item"><a href="https://zmninja.readthedocs.io/en/latest/index.html">Docs</a></li>                        
                        <li class="nav-item"><a href="http://ozone.network">oZone</a></li>                        
                        <li class="nav-item last"><a data-scroll href="/index.html#contact">Contact</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
