    <!-- ******LICENSE****** --> 
    <section id="license" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">License</h2>
                <div class="info">
                    <p>I've <a href="https://github.com/pliablepixels/zmNinja">published</a> the source code of zmNinja. It's free for personal use. You can read the license <a href="https://github.com/pliablepixels/zmNinja/blob/master/LICENSE">here</a></p>
                    <p><strong>For developers:</strong>If you would like to make zmNinja better and you are a developer, feel free to fork and PR back. Make sure you <a href="https://github.com/pliablepixels/zmNinja/blob/master/CONTRIBUTING.md">read</a> the contribution guidelines.</p>
                </div><!--//info-->
                <div class="cta-container">
                    <div class="speech-bubble">                    
                        <p class="intro">If you are feeling generous and want to show your support to the project via a donation, thank you! You have two options - <a href="https://salt.bountysource.com/teams/zoneminder">donate to ZoneMinder</a> or donate to zmNinja. While donating to zoneminder does not benefit zmNinja financially, zmNinja stands on the giant shoulders of ZoneMinder, and there are only a few guys maintaining ZoneMinder. So take your pick.</p>
          		<br/>  
			    <div class="text-center"> 
			    	<a href="https://en.cryptobadges.io/donate/32YBHDAnnDUWwjsscJQQ1Z92UWJgpsDF86"><img src="https://en.cryptobadges.io/badge/micro/32YBHDAnnDUWwjsscJQQ1Z92UWJgpsDF86" /></a>
		<a href="https://en.cryptobadges.io/donate/0x86A5cB50158EFDbd1eCDa872290A7B58857B267a"><img src="https://en.cryptobadges.io/badge/micro/0x86A5cB50158EFDbd1eCDa872290A7B58857B267a" /></a>
		<a href="https://www.bountysource.com/teams/zmninja/"><img src="https://img.shields.io/badge/Donate-BountySource-brightgreen.svg" /></a>	    
			    </div>
                            <br/>
			    <div class="icon-holder  text-center"><i class="fa fa-smile-o"></i></div>
                    </div><!--//speech-bubble-->
              
                </div><!--//cta-container-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
