<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header" >
    <div class="container text-center">
        <img src="/public/images/applogo.png" width="40%" alt="zmNinja"><span class="btns">
                <a style="margin-top:30px" class="animated flipInX btn btn-cta-secondary" data-scroll href="#demo">Demo</a>
            </span>

   
        <p class="intro">An awesome app that watches your home when you can't. Best buddies with ZoneMinder</p>



       
        	<center>
                  
                <span  style="color:white; font-size:1.2em; font-weight:normal;"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><br/><i>"Just wanted to send an extra thank you for this app..."</i></span><a style="color:white; font-size:0.8em" data-toggle="collapse" href="#customerquote"> read more</a>


                <div id ="customerquote" class="collapse"><i><blockquote>I live on a dead end street and mine is the last house before a nature preserve. Awesome for wandering around the yard at noon, still in pajamas, but if I'm not here, anyone could be, and the neighbors would never know.
                 Neither the doors in my house nor my garage are visible from my neighbors houses, and a short way through the woods on one side is a  home for "troubled" teenagers. If we forget to lock our cars, there won't be any change left in the console by morning! I would be an utter fool to not have security cameras. I set up my IP cameras with ZoneMinder on an Ubuntu server and they work great, but the ZM web interface is not so great on a phone screen. Enter ZM Ninja, which is great. I can check my phone and immediately know whether the motion detected on the east side of my patio was the mailman, or someone taking advantage of the privacy we have here. The app interface is clean and I didn't need to RTFM to set it up. Very nicely done, and thank you for remembering that some of us don't want to use whatever crappy, badly translated software came with the cameras!</blockquote></i>
                 </div>

            </center>
    
       <p/>
        <div class="small">zmNinja is part of the <a style="text-decoration:underline; color:white" href="http://ozone.network">ozone.network</a> solution suite</div><br/>

        <p class="intro animated zoomIn">
            <i class="fa fa-apple fa-2x"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-android fa-2x"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-windows fa-2x"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-linux fa-2x"></i>
        </p>

        

        <br/>
        <center>
            <a href="https://itunes.apple.com/us/app/zmninja-pro/id1067914954?mt=8"><img src="/public/images/apple.png" width="25%" alt="Get in on App Store" style="max-width:150px"></a>
            <a href="https://play.google.com/store/apps/details?id=com.pliablepixels.zmninja_pro&hl=en&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="/public/images/google.png" width="25%" style="max-width:150px"/></a>
        </center>
        <p/>
        <br/>
        <br/>

        <ul class="meta list-inline" >
            <li><a style="color:#DADFE1" href="https://github.com/pliablepixels/zmNinja"  target="_blank">View on GitHub</a></li>
            <li><a style="color:#DADFE1" href="https://github.com/pliablepixels/zmNinja/wiki/FAQ" target="_blank">Frequently Asked Questions</a></li>
            <li><a style="color:#DADFE1" href="https://twitter.com/pliablepixels" target="_blank">@pliablepixels/twitter</a></li>
        </ul>
        <!--//meta-->
    
    </div>
    <!--//container-->
    <div class="social-media">
        <div class="social-media-inner container text-center">
            <ul class="list-inline">

                <li class="twitter-tweet">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="zmNinja" data-hashtags="zmninja">Tweet</a>
                    <script>
                        ! function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');
                    </script>
                </li>
                <!--//twitter-tweet-->
                <li class="facebook-like">
                    <div class="fb-like" data-href="http://pliablepixels.github.io" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                </li>
                <!--//facebook-like-->
                <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                <li class="github-star">
                    <iframe src="http://ghbtns.com/github-btn.html?user=pliablepixels&repo=zmninja&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                </li>
                <li class="github-fork">
                    <iframe src="http://ghbtns.com/github-btn.html?user=pliablepixels&repo=zmninja&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
                </li>
                <!--//
                    <li class="github-follow"><iframe src="http://ghbtns.com/github-btn.html?user=mdo&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></li>
                    -->
            </ul>
        </div>
    </div>
</section>
<!--//promo-->
